{% extends '::base.html.twig' %}

{% block body %}

    {{ include('DMCHomeBundle:Home:_navbar.html.twig') }}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                {% block content %}{% endblock %}        
            </div>
        </div>        
    </div>

{% endblock %}