{% extends 'DMCHomeBundle::bundleLayout.html.twig' %}

{% block content %}

    <div class="row-fluid">
        <div class="span12">

            <h1>Home Page</h1>
            <a href="{{ path('dmc_admin_admin_index') }}">Admin Panel</a>

        </div>
    </div>

{% endblock %}
